.add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  background: linear-gradient(rgba(139, 239, 252, 0.637), rgb(72, 201, 233));
  border: none;
  border-radius: 20px;
  margin-top: 7rem;
  width: 43vw;
  padding: 10px;
}

.add input,
textarea {
  margin: 13px;
  color: rgb(0, 0, 0);
  width: 80%;
  background: rgba(146, 199, 235, 0.527);
  padding: 8px;
  background: white;
  border: none;
  border-radius: 15px;
}

.form-container input:focus textarea:focus {
  outline: none;
}

.add button {
  margin: 1rem;
}
