nav {
  position: absolute;
  top: 6px;
  text-align: end;
  right: -32px;
  width: 100%;
  height: 60px;
  margin: 2rem;
}

nav a {
  font-size: larger;
  margin: 2rem;
  margin-right: 2.2rem;
  color: rgb(53, 53, 53);
}

h1 {
  float: left;
  top: 0;
  margin-top: -0.6rem;
  color: rgb(53, 53, 53);
}

hr {
  margin-top: 2.4rem;
}
